@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --font-type: Arial, Helvetica, sans-serif;
    --text-color: rgb(250, 250, 250);
    --spacing: 60px;
    --width-gap: 25vw;
}

body {
    display: flex;
    background-color: rgb(245, 245, 245);
    /*background-image: linear-gradient(45deg, rgb(255, 135, 55), rgb(255, 200, 97), rgb(139, 255, 139), rgb(146, 255, 118));*/
}

p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-type);
}

.side-bar {
    position: fixed;
    left: 0;
    height: 100vh;
    width: var(--width-gap);
}

.img-container {
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo-container::before {
    content: "";
    display: block;
    position: relative;
    width: 112px;
    max-height: 100%;
    background-image: url("odin-lined.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    --container-height: 150px;
    display: flex;
    position: relative;
    vertical-align: middle;
    line-height: var(--container-height);
    justify-content: center;
    font-size: 5rem;
    color: var(--text-color);
    font-family: 'Caesar Dressing', cursive;
    max-width: 100%;
    height: var(--container-height);
    padding: 4px 0;
    margin-top: 200px;
    background-color: rgba(10, 10, 10, 0.7);
}

.credit {
    text-align: center;
    font-family: var(--font-type);
    font-size: 20px;
    align-self: center;
    position: absolute;
    color: var(--text-color);
    bottom: 8px;
}

.credit span {
    text-decoration: underline;
}

.body-content {
    margin-top: 200px;
    margin-left: var(--width-gap);
}

.text-container {
    width: 70%;
}

.form-content,
.text-container {
    margin: 0 var(--spacing);
}

.form-content::before {
    content: "Let's do this!";
    font-weight: 500;
    font-family: sans-serif;
    font-size: 1.4rem;
    color: rgb(42, 42, 42);
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 36px;
    height: 300px;
}

label {
    color: rgb(61, 61, 61);
}

.form-container {
    background-color: white;
    box-shadow: 0 3px 5px lightgray;
    border-radius: 8px;
    max-width: 100vw;
}

.name,
.email-and-number,
.password {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

input {
    border-radius: 5px;
    min-height: 30px;
    min-width: 250px;
    border: 1px solid #E5E7EB;
    font-size: 1rem;
    padding: 0 8px;
    font-family: var(--font-type);
}

input[type="email"]::placeholder {
    font-size: 1rem;
    text-align: center;
}

.password div:first-child div::after {
    content: "* Passwords don't match";
    color: red;
}

.focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 2px lightgray;
}

.error {
    border: 1px solid red;
}

button {
    margin: 24px var(--spacing);
    color: var(--text-color);
    background-color: #599426;
    box-shadow: 2px 3px 3px rgb(201, 197, 197);
    font-weight: bold;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    border-style: none;
}

button:hover {
    cursor: pointer;
    background-color: #3b6119;
}

button:active {
    transform: scale(0.98);
}

form+div>p {
    margin: 24px var(--spacing);
    font-size: 18px;
    font-family: var(--font-type);
}

form+div a {
    color: #599426;
    font-weight: bold;
    text-decoration: none;
}